@page "/videogames"
@inject HttpClient Http

<PageTitle>Studios</PageTitle>

<h1>Studios</h1>

<p>This component demonstrates fetching data from the Db - Studio.</p>

@if (_videoGames == null)
{
	<p><em>Loading...</em></p>
}
else
{
	<MudDataGrid Items="@_videoGames">
		<Columns>
			<PropertyColumn Property="@(p=>p.Name)" Sortable="true" />
			<PropertyColumn Property="@(p=>p.ReleaseYear)" Sortable="true" />
			<PropertyColumn Property="@(p=>p.Id)" Sortable="true" />
		</Columns>
	</MudDataGrid>
}

@using BlazorWasm40.Application.Utils
@code {
	@using BlazorWasm60.Domain.Entities;


	private IEnumerable<VideoGame>? _videoGames = null;

	protected override async Task OnInitializedAsync()
	{
		_videoGames = await Http.GetFromJsonAsync<IEnumerable<VideoGame>>("api/VideoGame");
	}

}
